server:
  port: 8081

spring:
  application:
    name: gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true   # auto-creates a route per registered service in Eureka
          lowerCaseServiceId: true    # route IDs/paths are lowercased
management:
  endpoints:
    web:
      exposure:
        include: health,info    # allows health & info actuator endpoints for simple checks

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka   # where Eureka server lives
