server:
  port: 8083

  spring:
    application:
      name: movie-service


eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_DEFAULT_ZONE:http://localhost:8761/eureka}


management:
  endpoints:
    web:
      exposure:
        include: health,info